.contact {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.social {
  grid-area: 1 / 1 / 6 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-left: 50px;
  gap: 15px;
}

.social a {
  display: flex;
  align-items: center;
  gap: 25px;
  color: var(--color-primary);
  text-decoration: none;
  font-size: var(--h3-font-size);
  transition: all 0.3s ease-in-out;
}

.social a:hover {
  color: var(--color-secondary);
}

.formulario {
  grid-area: 1 / 3 / 6 / 6;
}

.form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.form .label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form .label input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form .btnSend {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  background: var(--color-primary);
  color: white;
  border-radius: 5px;
  border: none;
  transition: all .2s ease-in;
}

.form .btnSend:hover {
  opacity: 0.8;
}

@media (max-width: 480px) {
  .social {
    gap: 30px;
  }
  .social a {
    font-size: var(--h1-font-size);
  }
  .social a p {
    display: none;
  }
}

@media (max-width: 768px) {
  .contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .social {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .formulario {
    grid-area: 2 / 1 / 3 / 2;
  }
}
